{% extends 'main/main.html' %}
{% load static %}
{% block title %}Головна Сторінка{% endblock %}
{% block content %}
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>10 Zen of Python</h1>
                    <h2>Syte by Dr.DRE</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container w">
        <div class="row centered">
            <br><br>
            <div class="col-lg-4">
                <i class="fa fa-heart"></i>
                <h4>Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-laptop"></i>
                <h4>Power</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-lg-4">
                <i class="fa fa-trophy"></i>
                <h4>Magic</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <br><br>
    </div>
    <div id="dg">
        <div class="container">
            <div class="row centered">
                <h4>The last works</h4>
                <br>
                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#">FIRST</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#">SECOND</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#">THIRD</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

