{% load static %}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PR<i class="fa fa-circle"></i>GER</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a> </li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Message</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> </a></li>
            </ul>
        </div>
    </div>
</div>



